*{
    padding: 0;
    margin: 0;
}
header,main,footer{
    background-color: beige;
}
header{
        background-color: rgb(103, 77, 65,0.8);
        height: 70px;
        width: 100%;
        position: fixed;
       }
        header h2{
            color:#DFDCD5;
            font-size: 24px;
            position:absolute;
            left:3vw;
            top:0;  
            line-height: 70px;
       }
       header a{
        color:#DFDCD5;
        text-decoration: none;
       }
       header a:hover{
        text-decoration: underline;
       }
       header li{
        display: inline;
        margin-right: 4vw;
       }
       header ul{
        position: absolute;
        right: 3vw;
        top: 0;
        line-height: 80px;
       }
       main{
        height: 100vh;
        background-image:url(images/IMG_4666.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       }

        main a{
        color:#2A4C65;
        background-color:rgba(221, 207, 194,0.5);
        font-size: 55px;
        text-decoration: none;
        border: 3px solid#2A4C65;
        padding: 5px 10px;
        border-radius: 5px;
        margin: 10px;
        }

        main a:hover{
            text-decoration: underline;
        }

        footer{
        background-color: #161D15;
        height: 4vh;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        footer p{
        color: #DFDCD5;
        font-size: 15px;
        }
      /* 響應式設計 */
      @media screen and (max-widt:768px){
        
    


